GamePrototypeClient/Service References/GamePrototypeServiceReference/GamePrototypeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GamePrototypeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.user" />
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.core" />
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.character" />
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" />
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.enums" />
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.character.warehouse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGamePrototypeService_GetUserByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByLogin" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_GetUserByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_GetUserByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmail" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_GetUserByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_IsUserLoginDataValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserLoginDataValid" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_IsUserLoginDataValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserLoginDataValidResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_GetAllThings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllThings" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_GetAllThings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllThingsResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_GetAllCharacterThings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCharacterThings" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_GetAllCharacterThings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCharacterThingsResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_GetWarehouseById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseById" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_GetWarehouseById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_SetUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserProfile" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_SetUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_SetCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCharacter" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_SetCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_SetThing_InputMessage">
    <wsdl:part name="parameters" element="tns:SetThing" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_SetThing_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetThingResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_SetThingToCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:SetThingToCharacter" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_SetThingToCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetThingToCharacterResponse" />
  </wsdl:message>
  <wsdl:portType name="IGamePrototypeService">
    <wsdl:operation name="GetUserByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePrototypeService/GetUserByLogin" message="tns:IGamePrototypeService_GetUserByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePrototypeService/GetUserByLoginResponse" message="tns:IGamePrototypeService_GetUserByLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePrototypeService/GetUserByEmail" message="tns:IGamePrototypeService_GetUserByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePrototypeService/GetUserByEmailResponse" message="tns:IGamePrototypeService_GetUserByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserLoginDataValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePrototypeService/IsUserLoginDataValid" message="tns:IGamePrototypeService_IsUserLoginDataValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePrototypeService/IsUserLoginDataValidResponse" message="tns:IGamePrototypeService_IsUserLoginDataValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllThings">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePrototypeService/GetAllThings" message="tns:IGamePrototypeService_GetAllThings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePrototypeService/GetAllThingsResponse" message="tns:IGamePrototypeService_GetAllThings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCharacterThings">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePrototypeService/GetAllCharacterThings" message="tns:IGamePrototypeService_GetAllCharacterThings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePrototypeService/GetAllCharacterThingsResponse" message="tns:IGamePrototypeService_GetAllCharacterThings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseById">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePrototypeService/GetWarehouseById" message="tns:IGamePrototypeService_GetWarehouseById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePrototypeService/GetWarehouseByIdResponse" message="tns:IGamePrototypeService_GetWarehouseById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePrototypeService/SetUserProfile" message="tns:IGamePrototypeService_SetUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePrototypeService/SetUserProfileResponse" message="tns:IGamePrototypeService_SetUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePrototypeService/SetCharacter" message="tns:IGamePrototypeService_SetCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePrototypeService/SetCharacterResponse" message="tns:IGamePrototypeService_SetCharacter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetThing">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePrototypeService/SetThing" message="tns:IGamePrototypeService_SetThing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePrototypeService/SetThingResponse" message="tns:IGamePrototypeService_SetThing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetThingToCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePrototypeService/SetThingToCharacter" message="tns:IGamePrototypeService_SetThingToCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePrototypeService/SetThingToCharacterResponse" message="tns:IGamePrototypeService_SetThingToCharacter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGamePrototypeService" type="tns:IGamePrototypeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserByLogin">
      <soap:operation soapAction="http://tempuri.org/IGamePrototypeService/GetUserByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <soap:operation soapAction="http://tempuri.org/IGamePrototypeService/GetUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserLoginDataValid">
      <soap:operation soapAction="http://tempuri.org/IGamePrototypeService/IsUserLoginDataValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllThings">
      <soap:operation soapAction="http://tempuri.org/IGamePrototypeService/GetAllThings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCharacterThings">
      <soap:operation soapAction="http://tempuri.org/IGamePrototypeService/GetAllCharacterThings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseById">
      <soap:operation soapAction="http://tempuri.org/IGamePrototypeService/GetWarehouseById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserProfile">
      <soap:operation soapAction="http://tempuri.org/IGamePrototypeService/SetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCharacter">
      <soap:operation soapAction="http://tempuri.org/IGamePrototypeService/SetCharacter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetThing">
      <soap:operation soapAction="http://tempuri.org/IGamePrototypeService/SetThing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetThingToCharacter">
      <soap:operation soapAction="http://tempuri.org/IGamePrototypeService/SetThingToCharacter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GamePrototypeService">
    <wsdl:port name="BasicHttpBinding_IGamePrototypeService" binding="tns:BasicHttpBinding_IGamePrototypeService">
      <soap:address location="http://localhost:52565/GamePrototypeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>