GamePrototypeClient/Service References/GamePrototypeServiceReference/GamePrototypeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" />
  <xs:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.enums" />
  <xs:complexType name="NameEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NameEntity" nillable="true" type="tns:NameEntity" />
  <xs:complexType name="IdEntity">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="IdEntity" nillable="true" type="tns:IdEntity" />
  <xs:complexType name="MainOptionsEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LevelEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Agility" type="xs:int" />
          <xs:element minOccurs="0" name="Attack" type="xs:int" />
          <xs:element minOccurs="0" name="Defense" type="xs:int" />
          <xs:element minOccurs="0" name="Health" type="xs:int" />
          <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Intelligence" type="xs:int" />
          <xs:element minOccurs="0" name="MagicAttack" type="xs:int" />
          <xs:element minOccurs="0" name="MagicDefence" type="xs:int" />
          <xs:element minOccurs="0" name="Mana" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MainOptionsEntity" nillable="true" type="tns:MainOptionsEntity" />
  <xs:complexType name="LevelEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NameEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Level" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LevelEntity" nillable="true" type="tns:LevelEntity" />
  <xs:complexType name="ThingEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MainOptionsEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Price" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="SpecialThingBonus" nillable="true" type="q1:SpecialThingBonus" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.enums" minOccurs="0" name="ThingsType" type="q2:ThingsTypeEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ThingEntity" nillable="true" type="tns:ThingEntity" />
  <xs:complexType name="ValueEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValueEntity" nillable="true" type="tns:ValueEntity" />
</xs:schema>