GamePrototypeClient/Service References/GamePrototypeServiceReference/GamePrototypeService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.user" />
  <xs:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.character" />
  <xs:element name="GetUserByLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.user" minOccurs="0" name="GetUserByLoginResult" nillable="true" type="q1:UserProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.user" minOccurs="0" name="GetUserByEmailResult" nillable="true" type="q2:UserProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserLoginDataValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserLoginDataValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserLoginDataValidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.user" minOccurs="0" name="userProfile" nillable="true" type="q3:UserProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.character" minOccurs="0" name="character" nillable="true" type="q4:Character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCharacterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>