GamePrototypeClient/Service References/GamePrototypeServiceReference/GamePrototypeService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.character" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.character" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.enums" />
  <xs:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.character.warehouse" />
  <xs:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.core" />
  <xs:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" />
  <xs:complexType name="Character">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.core" base="q1:MainOptionsEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CharacterEquipment" nillable="true" type="tns:CharacterEquipment" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.enums" minOccurs="0" name="CharacterType" type="q2:CharacterTypeEnum" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.character.warehouse" minOccurs="0" name="CharacterWarehouse" nillable="true" type="q3:CharacterWarehouse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Character" nillable="true" type="tns:Character" />
  <xs:complexType name="CharacterEquipment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.core" base="q4:IdEntity">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Armor" nillable="true" type="q5:Things" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Boots" nillable="true" type="q6:Things" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Cloak" nillable="true" type="q7:Things" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Earrings" nillable="true" type="q8:Things" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Gloves" nillable="true" type="q9:Things" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Hemlet" nillable="true" type="q10:Things" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Necklace" nillable="true" type="q11:Things" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Potion1" nillable="true" type="q12:Potions" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Potion2" nillable="true" type="q13:Potions" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Potion3" nillable="true" type="q14:Potions" />
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Potion4" nillable="true" type="q15:Potions" />
          <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Potion5" nillable="true" type="q16:Potions" />
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Rings1" nillable="true" type="q17:Things" />
          <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Rings2" nillable="true" type="q18:Things" />
          <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Rings3" nillable="true" type="q19:Things" />
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Scroll1" nillable="true" type="q20:Scrolls" />
          <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Scroll2" nillable="true" type="q21:Scrolls" />
          <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Scroll3" nillable="true" type="q22:Scrolls" />
          <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Weapon1" nillable="true" type="q23:Things" />
          <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" minOccurs="0" name="Weapon2" nillable="true" type="q24:Things" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CharacterEquipment" nillable="true" type="tns:CharacterEquipment" />
</xs:schema>