GamePrototypeClient/Service References/GamePrototypeServiceReference/GamePrototypeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GamePrototypeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.user" />
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.core" />
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.character" />
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.thinks" />
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.enums" />
      <xsd:import schemaLocation="http://localhost:52565/GamePrototypeService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/GamePrototypeClasses.game.character.warehouse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGamePrototypeService_SetUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserProfile" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_SetUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_SetCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCharacter" />
  </wsdl:message>
  <wsdl:message name="IGamePrototypeService_SetCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCharacterResponse" />
  </wsdl:message>
  <wsdl:portType name="IGamePrototypeService">
    <wsdl:operation name="SetUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePrototypeService/SetUserProfile" message="tns:IGamePrototypeService_SetUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePrototypeService/SetUserProfileResponse" message="tns:IGamePrototypeService_SetUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePrototypeService/SetCharacter" message="tns:IGamePrototypeService_SetCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePrototypeService/SetCharacterResponse" message="tns:IGamePrototypeService_SetCharacter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGamePrototypeService" type="tns:IGamePrototypeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetUserProfile">
      <soap:operation soapAction="http://tempuri.org/IGamePrototypeService/SetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCharacter">
      <soap:operation soapAction="http://tempuri.org/IGamePrototypeService/SetCharacter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GamePrototypeService">
    <wsdl:port name="BasicHttpBinding_IGamePrototypeService" binding="tns:BasicHttpBinding_IGamePrototypeService">
      <soap:address location="http://localhost:52565/GamePrototypeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>